.cimecske{
    font-size: 200%;
    font-family: "Sixtyfour", sans-serif;
}
.kep{
    height: 300px;
}
.leiraszoveg{
    text-align: justify;
}
.kartya{
    border: 1px solid red;
    box-shadow: 3px 3px black;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    height: 550px;
    color: white;
}
#auszflagLogo {
    height: 50px;
}
body{
    background-image: url(kepek/bg1.jpg);
    background-size: cover;
}
.bgcolor{
    background-color: black;
    display: inline;
}